body
  font:
    family: $base-font-family
    weight: 400

h1,
h2,
h3,
h4,
h5,
h6
  font:
    family: $heading-font-family
    weight: 700
  line-height: 1.1
  margin-top: 1em
  margin-bottom: 0.25em

h1
  @include font-size($h1)
  font-weight: 900