<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {% set css %}{% include 'assets/css/main.css' %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body>
  <header class="page-header">

    {% include 'layouts/navigation.njk' %}
    
  </header>
  <main id="main-content" class="main-content container">

    <h1>{{ title }}</h1>
    {{- content | safe }}
    
  </main>
  {% set js %}{% include 'assets/js/main.js' %}{% endset %}
  <script>{{ js | safe }}</script>
</body>
</html>