<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <style>{% include 'assets/css/main.css' %}</style>
</head>
<body>
  <a href="/">Home</a>
  <h1>{{ title }}</h1>
  {{- content | safe }}
</body>
</html>