<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  {#- For home page, don't set a prefix #}
  {%- if page.url !== '/' %}
  {%- set titlePrefix %}{{- [ title, ' | ' ] | join }}{% endset %}
  {% endif %}
  <title>{{- titlePrefix }}{{ site.name }}</title>
  
  {% set css %}{% include 'assets/css/main.css' %}{% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body>
  <header class="site__header">
    {%- include 'layouts/navigation.njk' %}
  </header>

  <section class="site__body">
  {% block content %}
    <main id="main-content" class="main-content container">
      <h1>{{ title }}</h1>
      {{- content | safe }}
    </main>
  {% endblock %}
  </section>

  {% include 'layouts/footer.njk' %}

  {% set js %}{% include 'assets/js/main.js' %}{% endset %}
  <script>{{ js | safe }}</script>
</body>
</html>