{% set navPages = collections.all | eleventyNavigation %}

<nav class="navbar container container--wide">
  <a href="/" class="logo" title="Go to home page">
  <svg><use href="/icons.svg#logo" /></svg>
  </a>
  
  <button id="menu-toggle" class="menu-toggle" aria-expanded="false" aria-controls="primary-menu">
    <span class="sr-only">Menu</span>
    <span aria-hidden="true" class="burger"></span>
  </button>

  <ul id="primary-menu" class="primary-menu" >
    {% for item in navPages %}
      {% if item.url == page.url %}
      <li class="primary-menu__item" aria-current="page">
        <span class="primary-menu__link active">{{ item.title }}</span>
      </li>
      {% else %}
      <li class="primary-menu__item">
        <a  href="{{ item.url }}" title="{{ item.title }}" 
            class="primary-menu__link">{{ item.title }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  
</nav>