{% extends "layouts/base.njk" %}

{% block content %}
    {% if featuredImage %}
        {% include 'layouts/responsive-image.njk' %}
    {% endif%}
  <main id="main-content" class="main-content container">
  <article>
    <h1>{{ title }}</h1>
    {{- content | safe }}
    <footer>
    {% include 'layouts/social.njk'%}
    </footer>
  </article>
  </main>
{% endblock %}
