{% extends "layouts/base.njk" %}

{% block content %}
  <main id="main-content" class="main-content container">
    <h1>{{ title }}</h1>
    {{- content | safe }}
  </main>

  <aside class="treatment-list">
  {% for category,pages in collections.treatmentCategories %}
  <h3 class="treatment-category">{{ category }}</h3>
  <ul class="treatment-items">
    {% for page in pages %}
    <li class="treatment-item"><a href="{{ page.url }}">{{ page.data.title }}</a></li>
    {% endfor %}
  </ul>
  {% endfor -%}
  </aside>
{% endblock %}