.social-menu
  display: flex
  gap: 1em

.social-link
  display: flex
  position: relative

  svg 
    width: 24px
    height: 24px

@each $site, $clr in $socials
  .social-link--#{$site}
    fill: #{$clr}
