$clr-base-text: #171c29
$clr-primary:   #5080f0
$clr-secondary: #20b2aa
$clr-accent:    #ff4500

$clr-black:     #000000
$clr-grey-80:   #333333
$clr-grey-60:   #666666
$clr-grey-40:   #999999
$clr-grey-20:   #cccccc
$clr-grey-10:   #e5e5e5
$clr-white:     #ffffff

$socials: ("facebook":  #1877F2, "twitter": #1DA1F2, "whatsapp": #25D366, "email": $clr-base-text)

$box-shadow: 0 2px 4px -2px rgba(0,0,0,0.3)
